html{
	font-size: 20px;
}
body{
	font-family: "微软雅黑"，"黑体";
	background: #f2f2f2;
}
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #000;
}
.header{
	width: 100%;
	background: url(../images/bg_01.jpg);
	background-size: 100% 100%;
	height: 14.15em;
}
.header .zen{
	width: 16.425rem;
	margin: 0 auto;
}
.header .zen .img1{
	width: 0.6rem;
	float: left;
	margin-top: 4rem;
}
.hui{
	float: left;
	margin-left: 4.875rem;
	margin-top: 4rem;
	color: #fff;
}

.hui .nb{
	font-size: 0.85rem;
	padding-left: 1.4rem;
	padding-top: 0.6rem;
}
.hui .can{
	font-size: 0.575rem;
	padding-left: 0.6rem;
	padding-top: 0.5rem;
}

.ren{
	margin-top: 3.5rem;
	float: left;
	margin-left: 2rem;
}
.ren img {
	padding-left: 0.2rem;
}
.ren p{
	font-size: 0.55rem;
	color: #fff;
}
.header .zen .img2{
	width: 5.45rem;
}
.header .zen .img3{
	width: 2.4rem;
}

.main ul li{
	list-style: none;
	line-height: 3.5rem;
	font-size: 0.75rem;
	background: #f2f2f2;
	border-bottom:1px solid #c3c3c3;
	
}
.main ul li:first-child{
	padding-top: 1rem;
}
.main ul li:last-child{
	padding-bottom:2rem;
}
.main ul li img:nth-child(3){
	width: 0.4rem;
	vertical-align: text-bottom;
}
.main ul li span{
	padding-right:9rem;
	font-size: 0.85rem;
}
.main ul li img:nth-child(1){
	width: 1.2rem;
	padding-left: 1rem;
	padding-right: 1.2rem;
	vertical-align: sub;
}
.main ul li:hover{
	background: #fff;
}



