html{
	font-size: 20px;
}
body{
	font-family: "微软雅黑"，"黑体";
}
*{
	padding: 0;
	margin: 0;
}
.header{
	width: 100%;
	background: #36b9f7;
}
.gou{
	padding-left: 7.4rem;
	padding-top: 1.175rem;
	padding-bottom: 1.175rem;
		
}
.header .gou .yuan{
	width: 3.125rem;
	height: 3.125rem;
	border-radius: 50%;
	background: #fff;

}
.header .gou .yuan img{
	width: 1.8rem;
	padding-top: 1rem;
	padding-left: 0.6rem;
}
.header .gou p{
	font-size: 0.55rem;
	padding-left: 0.3rem;
	padding-top: 0.675rem;
}
.main form{
	padding-left: 0.7rem;
}
.main form label span:first-child{
	color: #d30404;
	margin-right: 0.2rem;
}
input{
	border: none;
}
.input{
	border-bottom: 1px solid #c3c3c3;
	padding-bottom: 0.5rem;
	margin-top: 1.8rem;

}
.footer input{
	display: block;
	width: 5.65rem;
	height: 1.6rem;
	background: #3495e8;
	margin: 0 auto;
	text-align: center;
	line-height: 1.6rem;
	text-decoration: none;
	font-size: 0.75rem;
	color: #fff;
	margin-top: 5.525rem;
	border-radius: 0.15rem;
}







