html{
	font-size: 20px;
}
body{
	font-family: "微软雅黑"，"黑体";
}
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
.header{
	border-bottom: 0.25rem #f2f2f2 solid;
}
.header-inner{
	overflow: hidden;
	width: 94%;
	margin: 0 auto;
	padding-top: 0.7rem;
	padding-bottom: 0.7rem;

}
.header-inner img{
	padding-top: 0.2rem;
}
.header-inner img:nth-child(1){
	float: left;
	width: 0.75rem;
}
.header-inner p{
	float: left;
	padding-left:3.1rem;
	padding-top:;
}
.header-inner a{
	padding: 0.45rem 1.25rem;
}
.header-inner a{
	border: 1px solid #3495e8;
}
.header-inner p a:last-child{
	background: #3495e8;
}

.header-inner img:nth-child(3){
	float: right;
	width: 0.9rem;
}
.main{
	width: 94%;
	margin: 0 auto;	
}
.xiao{
	background: url(../images/lxl-pic_03.png);
	background-size: 100% 100%;
	width:8.1rem;
	height: 10.175rem;
	float: left;
}
.main .xiao:nth-child(1)
,.main .xiao:nth-child(3),
.main .xiao:nth-child(5){
	margin-right:0.55rem;
}
.xiao{
	color:#fff;
	position: relative;
	margin-top: 0.5rem;
}
.china{
	padding-left: 0.4rem;
	padding-top: 0.5rem;
}
.china a{
	display: block;
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 0.1rem;
	font-size: 0.5rem;
	background: #3495e8;
	text-align: center;
	line-height: 0.8rem;
}
.china h3{
	font-size: 0.75rem;
	margin-top: 0.325rem;
}
.china p{
	font-size: 0.65rem;
	margin-top: 0.2rem;
}
.liji{

	width: 4.5rem;
	margin: 0 auto;
	margin-top: 3.4rem;
	text-align: center;
}
.liji h3{
	font-size: 0.625rem;
}
.liji a{
	display: block;
	font-size: 0.75rem;
	color: #fff;
	padding:0.3rem 0.5rem;
	margin-top: 0.25rem; 
	border: 1px solid #fff;
}
.xiao img{
	width: 1.2rem;
	position: absolute;
	top:1.2rem;
	right:0.5rem;
}
.china1 a{
	background: #939393;
}














